<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>cn.com.scal.action.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
